.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-flex {
  display: flex;
  justify-content: center;
}


.boundary {
  fill: none;
  stroke: steelblue;
  stroke-width: .5px;
}

.travel-path {
  fill: none;
  stroke: steelblue;
}

.origin-dot {
  stroke: black;
  opacity: 0.8;
  stroke-width: 1px;
}

.voronoi-line {
  fill: transparent;
  stroke: transparent;
}

.nav-container {
  width: 100%;
}

.nav--year {
  margin: 0.5em;
  flex: 1 1 1;
}
.aside--element {
  width: 20%;
  height: 100%;
}

.map-info--copy {
  height: 80px;
}
