<div class='container'>
  <div class='row aligner'>
    {{world-map
      map=model.map
      data=model.data
      originColorScale=originColorScale
      destinationColorScale=destinationColorScale
      colorScale=colorScale
      radiusScale=radiusScale
      }}
  </div>
</div>

