<div class='container'>
</div>
<div class='container'>
  <div class='row aligner'>
    {{world-map
      location=location
      locations=locations
      map=model.map
      data=visualizationData
      arcs=arcs
      originColorScale=originColorScale
      destinationColorScale=destinationColorScale
      colorScale=colorScale
      radiusScale=radiusScale
      }}
  </div>
</div>
<nav class='nav-container'>
  <ul class='row aligner'>
    {{#each years as |year|}}
      {{year-nav year=year currentYear=currentYear updateYear=(action "updateYear")}}
    {{/each}}
  </ul>
</nav>
